<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Juyoun Yoo
              </h1>
              <p>I am a PhD student in <a href="https://zipursky.dgsom.ucla.edu/pages/">Larry Zipursky</a> lab at UCLA.
                I entered <a href="https://neuroscience.ucla.edu/"> Neuroscience IDP program</a> in 2015, and joined the Zipursky group in 2016.
                I earned my Master’s degree in Biological Science from Seoul National University in 2015.
                I worked with <a href="https://biosci.snu.ac.kr/en/people/faculty?mode=view&profidx=1">Bong-kiun Kaang</a> group to study learning, memory and social behavior of Autism Spectrum Disorder mice models.
                I did my Batchelors at <a href="https://ewha.ac.kr">Ewha Womans University</a> from Seoul, Korea.
              </p>
              <p>
                I'm generally interested in how the brain is built.<br>During my phD I investigated how neuronal gene expressions are changing in the course of neurogenesis and synaptogenesis,
                how cell-surface molecules including neurotransmitter receptors are related to synaptic specificity.
                I have experience with single-cell RNA sequencing, immunohistochemistry, confocal imaging, CRISPR & <em>Drosophila</em> genetics.
              </p>


              <p style="text-align:center">
                <a href="pdfs/CV_JuyounYoo.pdf">CV</a> &nbsp/&nbsp
                <a href="https://scholar.google.com/citations?hl=en&user=Xtk3DkkAAAAJ&view_op=list_works&sortby=pubdate">Google Scholar</a> &nbsp/&nbsp
                <a href="https://twitter.com/lobula_plate">Twitter</a> &nbsp&nbsp
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/JY_profile_circle.png">
            </td>
          </tr>

        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>Work during my Ph.D in Zipursky lab</p>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src='images/neuron2020.png' width="180"></div>
            </td>

            <td style="padding:2.5%;width:65%;vertical-align:middle">
              <a href="https://www.cell.com/neuron/fulltext/S0896-6273(20)30774-1"><h3>Transcriptional Programs of Circuit Assembly in the Drosophila Visual System</h3></a>
              <br>
              <br>Yerbol Z. Kurmangaliyev, <h3>Juyoun Yoo</h3>, Javier Valdes-Aleman, Piero Sanfilippo, S. Lawrence Zipursky
              <br><em>Neuron</em>, 2020
              <br><br> We generated developmental transcriptome atlas of the whole fly opticlobe throughout the pupal stage. We showed that there are pan-neuronal programs that is common for the majority of neurons,
              and also there are cell-type specific programs. We strategized to use Drosophila Genome Reference Panel(DGRP) to multiplex the library to minimize batch effect in a simple and cost-effective manner.
             </td>

          </tr>


          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src='images/eLife2019.png' width="180"></div>
            </td>

            <td style="padding:2.5%;width:65%;vertical-align:middle">
              <a href="https://elifesciences.org/articles/50822"><h3>Modular transcriptional programs separately define axon and dendrite connectivity</h3></a>
              <br>
              <br>Yerbol Z Kurmangaliyev*, <h3>Juyoun Yoo*</h3>, Samuel A LoCascio*, S Lawrence Zipursky
              <br><em>eLife</em>, 2019, <a href="pdfs/T4T5eLife.pdf"><h3>pdf</h3></a></em>
              <br><br> We showed that eight subtypes of direction selective neuron T4/T5s transcriptome has no subtype-specific marker, rather the architecture of the transcriptome is assembled with axon and dendrite specific programs, 
              reflecting the morphologies.
             </td>
          </tr>

          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src='images/neuron2018.png' width="180"></div>
            </td>

            <td style="padding:2.5%;width:65%;vertical-align:middle">
              <a href="https://www.cell.com/neuron/fulltext/S0896-6273(18)30992-9"><h3>Interactions between the Ig-Superfamily Proteins DIP-α and Dpr6/10 Regulate Assembly of Neural Circuits</h3></a>
              <br>
              <br>Shuwa Xu, Qi Xiao, Filip Cosmanescu, Alina P. Sergeeva, <h3>Juyoun Yoo</h3>, Ying Lin, Phinikoula S. Katsamba, Goran Ahlsen, Jonathan Kaufman, Nikhil T. Linaval, Pei-Tseng Lee, Hugo J. Bellen, Lawrence Shapiro,
Barry Honig, Liming Tan, and S. Lawrence Zipursky
              <br><em>Neuron</em>, 2018, <a href="pdfs/DIPalpha.pdf"><h3>pdf</h3></a></em>
              <br><br> We showed that Immunoglobuling Superfamily protein DIPalpha and its binding partners dpr6, dpr10 interaction regulates layer specific circuit assembly.
             </td>

            </tr>


        </table>
        <br>
        <br>
        <br>


        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;color: rgb(220, 220, 220);">


                    Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>


              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

</body>

</html>
