<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Juyoun Yoo
              </h1>
              <<p>I am a PhD student in <a href=“https://zipursky.dgsom.ucla.edu/pages/“>Larry Zipursky</a> lab at UCLA. I joined <a href=“https://neuroscience.ucla.edu/“> Neuroscience IDP program</a> in 2015, and joined the Zipursky group in 2016. I obtained my Master’s degree at Life Sciences in Seoul National University in 2015, from work in <a href=“https://biosci.snu.ac.kr/en/people/faculty?mode=view&profidx=1”>Bong-kiun Kaang lab</a>
              </p>
              <p style="text-align:center">
                <a href="pdfs/CV_JuyounYoo.pdf">CV</a> &nbsp/&nbsp
                <a href=“https://scholar.google.com/citations?hl=en&user=Xtk3DkkAAAAJ&view_op=list_works&sortby=pubdate”>Google Scholar</a> &nbsp/&nbsp
                <a href="https://twitter.com/lobula_plate">Twitter</a> &nbsp&nbsp               
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/JY_profile_circle.png">
            </td>
          </tr>
        
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>Work during my Ph.D in Sabatini lab</p>
            </td>
          </tr>
        </table>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src='images/paper3.png' width="180"></div>
            </td>
        
            <td style="padding:2.5%;width:65%;vertical-align:middle">
              <a href="https://www.biorxiv.org/content/10.1101/2020.10.01.319574v2"><h3>Striatal indirect pathway mediates exploration via collicular competition</h3></a>
              <br>
              <br><h3>Jaeeon Lee*</h3>, Bernardo Sabatini 
               <br><em>bioRxiv (accepted)</em>, <em><a href="https://jel0624.github.io/pdfs/D2_paper.pdf"><h3>pdf</h3></a></em>
              <br><br> We dissected the functional impact of stimulating the striatal D2 indirect pathway, on behavior and neural dynamics in a downstream region (colliculus). We show that D2 pathway can both suppress and trigger movement on the contra/ipsi side respectively. This can be explained by paradoxical excitaiton of contralateral SC. We propose a general circuit mechanism for action switching mediated by basal ganglia-collicular circuit.
            </td>
          </tr>
          
          
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src='images/paper2.png' width="180"></div>
            </td>
        
            <td style="padding:2.5%;width:65%;vertical-align:middle">
              <a href="https://www.nature.com/articles/s41593-020-00712-5"><h3>Anatomically segregated basal ganglia pathways allow parallel behavioral modulation</h3></a>
              <br>
              <br><h3>Jaeeon Lee*</h3>, Wengang Wang, Bernardo Sabatini 
              <br><em>Nature Neuroscience</em>, in press, <em><a href="https://jel0624.github.io/pdfs/BG_anatomy.pdf"><h3>pdf</h3></a></em>
              <br><br> We show topographical loops starting from striatum to Pf, VM and SC in the mouse brain. Segregated pathways in medial vs ventrolateral striatum modulate turning/licking behavior respectively, confirming parallel organization of BG output pathways. 
            </td>
          </tr>
          
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src='images/photometry_image.png' width="180"></div>
            </td>
        
            <td style="padding:2.5%;width:65%;vertical-align:middle">
              <a href="https://www.nature.com/articles/s41592-019-0581-x"><h3>Depth-resolved fiber photometry with a single tapered optical fiber implant</h3></a>
              <br>
              <br>Filippo Pisano*, Marco Pisanello*, Suk Joon Lee, <h3>Jaeeon Lee</h3>, <em>et al</em>
              <br><em>Nature Methods</em>, 2019, <em><a href="https://jel0624.github.io/pdfs/photometry.pdf"><h3>pdf</h3></a></em>
              <br><br> We show the application of tapered fibers in depth-selevtive photometry. We simultaenously recorded dopamine signals in dorsal/ventral striatum in the same mouse and show signals can diverge at specficic behavioral events.
            </td>
          </tr>
         
        </table>
        <br>
        <br>
        <br>
        
        
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;color: rgb(220, 220, 220);">
                

                    Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>


              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

</body>

</html>
