<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-MH2B4FZX83"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-MH2B4FZX83');
  </script>



</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Juyoun Yoo
              </h1>
              <p> I am currently a postdoc in <a href="https://www.polleuxlab.zi.columbia.edu">Franck Polleux</a> lab in Zuckerman Institute at Columbia University.
                  I did my PhD training with <a href="https://zipursky.dgsom.ucla.edu/pages/">Larry Zipursky</a> via <a href="https://neuroscience.ucla.edu/"> Neuroscience IDP program</a> at UCLA.
              </p>
              <p>
                My research interest is in how the brain is built.<br> 
                During my PhD, I investigated how neuronal gene expressions are changing in the course of neurogenesis and synaptogenesis.
                I tackled this problem by integrating developmental transcriptome, electron-microscipic connectome,and protein-protein interactome to understand how cell-surface molecules regulate to synaptic specificity.
                I have experience with single-cell RNA sequencing, immunohistochemistry, confocal imaging, CRISPR & <em>Drosophila</em> genetics.               
              </p>
              <p> Thesedays I'm fascinated by how the gene regulatory programs are temporally coordinated during brain development.</p>


              <p style="text-align:center">
                <a href="https://scholar.google.com/citations?hl=en&user=Xtk3DkkAAAAJ&view_op=list_works&sortby=pubdate">Google Scholar</a> &nbsp/&nbsp
                <a href="https://twitter.com/lobula_plate">Twitter</a> &nbsp&nbsp
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/JY_profile_circle.png">
            </td>
          </tr>

        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>Work during my Ph.D in Zipursky lab</p>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        
          
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
               <a href="https://www.cell.com/current-biology/fulltext/S0960-9822(23)01063-1">
              <img src='images/currbiol2023.png' width="180"></div>
               </a>
            </td>

            <td style="padding:2.5%;width:65%;vertical-align:middle">
              <a href="https://www.cell.com/neuron/fulltext/S0896-6273(20)30774-1"><h3>Transcriptional Programs of Circuit Assembly in the Drosophila Visual System</h3></a>
              <br>
              <br><h3>Juyoun Yoo</h3>, Mark Dombrovski, Parmis Mirshahidi, Aljoscha Nern, Samuel A. LoCascio, S. Lawrence Zipursky, Yerbol Z. Kurmangaliyev
              <br><em>Curr Biol</em>, 2023.
              <br><br> We mapped <a href="https://www.cell.com/neuron/fulltext/S0896-6273(20)30774-1">the developemental transcriptome</a> we generated in 2020 
              and the electron microscopic <a href="https://www.janelia.org/project-team/flyem">connectome</a> from Janelia. 
              We identified matching expression of IgSF proteins Beat and Side in the parallel synaptic partners in the motion dectection circuit. 
              These protein family binding specificity also matched with the synaptic partner choices. 
              I generated CRISPR KO allels for beat/side genes and demonstrated that these receptor-ligand pairs are required for optimal synaptic partner decisions.
             </td>

          </tr>

          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
               <a href="https://www.cell.com/neuron/fulltext/S0896-6273(20)30774-1">
              <img src='images/neuron2020.png' width="180"></div>
               </a>
            </td>

            <td style="padding:2.5%;width:65%;vertical-align:middle">
              <a href="https://www.cell.com/neuron/fulltext/S0896-6273(20)30774-1"><h3>Transcriptional Programs of Circuit Assembly in the Drosophila Visual System</h3></a>
              <br>
              <br>Yerbol Z. Kurmangaliyev, <h3>Juyoun Yoo</h3>, Javier Valdes-Aleman, Piero Sanfilippo, S. Lawrence Zipursky
              <br><em>Neuron</em>, 2020.
              <br><br> We generated developmental transcriptome atlas of the whole fly opticlobe throughout the pupal stage. We showed that there are pan-neuronal programs that the majority of neurons follow,
              and there also are cell-type specific programs. We strategized to use Drosophila Genome Reference Panel(DGRP) to multiplex the library to minimize batch effect in a simple and cost-effective manner.
             </td>

          </tr>


          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <a href="https://elifesciences.org/articles/50822">
              <img src='images/eLife2019.png' width="180"></div>
              </a>
            </td>

            <td style="padding:2.5%;width:65%;vertical-align:middle">
              <a href="https://elifesciences.org/articles/50822"><h3>Modular transcriptional programs separately define axon and dendrite connectivity</h3></a>
              <br>
              <br>Yerbol Z Kurmangaliyev*, <h3>Juyoun Yoo*</h3>, Samuel A LoCascio*, S Lawrence Zipursky
              <br><em>eLife</em>, 2019. [<a href="pdfs/T4T5eLife.pdf"><h3>pdf</h3></a>]</em>
              <br><br> We showed that eight subtypes of direction selective T4/T5 neurons' transcriptome has no subtype-specific markers, rather the architecture of the transcriptome is assembled with axon and dendrite specific programs,
              reflecting the morphologies.
             </td>
          </tr>

          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <a href="https://www.cell.com/neuron/fulltext/S0896-6273(18)30992-9">
              <img src='images/neuron2018.png' width="180"></div>
              </a>
            </td>

            <td style="padding:2.5%;width:65%;vertical-align:middle">
              <a href="https://www.cell.com/neuron/fulltext/S0896-6273(18)30992-9"><h3>Interactions between the Ig-Superfamily Proteins DIP-α and Dpr6/10 Regulate Assembly of Neural Circuits</h3></a>
              <br>
              <br>Shuwa Xu, Qi Xiao, Filip Cosmanescu, Alina P. Sergeeva, <h3>Juyoun Yoo</h3>, Ying Lin, Phinikoula S. Katsamba, Goran Ahlsen, Jonathan Kaufman, Nikhil T. Linaval, Pei-Tseng Lee, Hugo J. Bellen, Lawrence Shapiro,
Barry Honig, Liming Tan, and S. Lawrence Zipursky
              <br><em>Neuron</em>, 2018. [<a href="pdfs/DIPalpha.pdf"><h3>pdf</h3></a>]</em>
              <br><br> We showed that Immunoglobulin Superfamily proteins DIP-&alpha; and its binding partners dpr6, dpr10 interactions regulate layer specific circuit assembly.
             </td>

            </tr>


        </table>
        <br>
        <br>
        <br>


        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;color: rgb(220, 220, 220);">


                    Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>


              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

</body>

</html>
